
body {
  background-color: black;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin: 10px;
  cursor: pointer;
}

.move-icon {
  height: 70px;
}

.score-board p {
  margin: 5px;
  font-size: 18px;
}

.reset-btn {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}
